@charset "UTF-8";
/* CSS Document */



#header_cinefriends h1 a {
  text-indent: -999em;
}

#promo_content {
  background-image:url(../images/fr/bg_paypal.jpg);
  background-repeat: no-repeat;
  height:542px;
  margin:1px auto;
  padding: 350px 0 0 0 ;
  width:970px;


}
#footer
{
  margin:0;
}
.promo-title {
  padding: 0 0 0 210px;
}
#footer_promo {

  color:#FFFFFF;
  margin: 0 auto;
  padding: 8px 0 0 0 ;

  width: 970px;
}


#footer_promo a{
  color:#FFFFFF;

}
#promo_code {
  background-color: #FFFFFF;
  margin: 0 0 20px 280px;
  padding: 10px;
  width: 366px;
}

#applestuffs {
  background-color: #FFFFFF;
  margin: 0 0 20px 280px;
  padding: 10px;
  width: 366px;
  color:#4a4a4a;
  text-align: center;
  font-size:14px;
}

#applestuffs a{
  color:#97c300;
}

.headerpromo {

  position: relative;
  width: 100%;
  z-index: 100;
}




.offre_ptg {
font-size: 15px;
}